.advantages-block {
    width: 100%;

    background-color: $passes-background;
}

.advantages-block__container {
    display: flex;
    flex-direction: column;

    align-items: center;

    & h2 {
        font-size: 49px;
        line-height: 49px;

        margin: 0;
        margin-bottom: 72px;

        letter-spacing: 0.03em;

        color: $black;
    }
}

@media (max-width: $tablet-only) {
    .advantages-block__container {
        & h2 {
            font-size: 42px;
            line-height: 42px;

            margin-bottom: 30px;
        }
    }
}

@media (max-width: $mobile-only) {
    .advantages-block__container {
        text-align: center;

        & h2 {
            font-size: 32px;
            line-height: 32px;

            margin-bottom: 17px;
        }
    }
}
