.advantage-list {
  font-family: $side-text;

  position: relative;

  width: 1040px;

  display: flex;
  flex-direction: column;

  list-style: none;
}

.advantage-list__item {
  display: flex;

  min-height: 72px;

  width: 340px;

  color: $black;

  &:nth-child(2n) {
    margin-left: 360px;
  }
}

.advantage-list__number-block {
  &--margin {
    margin-left: 29px;
  }

  & span {
    font-size: 14px;
    line-height: 21px;
  }
}

.advantage-list__number {
  width: 108px;
  height: 53px;

  background-repeat: no-repeat;
  background-size: contain;


  &--900 {
    background-image: url("../img/900.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/900_2x.png");
    }
  }

  &--70 {
    background-image: url("../img/70.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/70_2x.png");
    }
  }

  &--350 {
    background-image: url("../img/350.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/350_2x.png");
    }
  }

  &--5 {
    background-image: url("../img/5.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/5_2x.png");
    }
  }
}

.advantage-list__text-block {
  margin-left: 30px;

  & h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;

    margin-top: 0;
    margin-bottom: 10px;
  }

  & p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }

  &--width-left {
    width: 183px;
  }

  &--width-right {
    width: 227px;
    margin-left: 0;
  }
}

.advantage-list__central-block {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  flex-direction: column;

  width: 23.12%;
  min-height: 100%;

  transform: translateX(-50%);
  text-align: center;

  color: white;
  background-color: $advantages-block-background;

  align-items: center;

  & h3 {
    font-size: 74px;
    font-weight: 700;
    line-height: 74px;

    margin: 0;
    margin-top: 55px;
  }

  & p {
    width: 77.4%;
    font-size: 16px;
    line-height: 24px;
  }


  & span {
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;

    margin-top: 2px;
    margin-bottom: 35px;
  }
}


.advantage-list__top-block,
.advantage-list__bottom-block {
  display: flex;

  width: 100%;

  flex-wrap: wrap;
}

.advantage-list__top-block {
  & .advantage-list__item {
    padding-bottom: 78px;

    border-bottom: 2px solid $advantages-block-border;
  }
}

.advantage-list__bottom-block {
  padding-top: 72px;

  & .advantage-list__number-block {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
  }

  & .advantage-list__text-block {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
  }
}

@media (max-width: $tablet-only) {
  .advantage-list {
    width: 100%;
    padding: 0;
  }

  .advantage-list__top-block {
    & .advantage-list__item {
      padding: 0;

      border: none;
    }

    & .advantage-list__number-block {
      margin-top: 0;
    }
  }

  .advantage-list__number {
    width: 89px;
    height: 43px;

    &--900 {
      background-image: url("../img/900_tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/900_tablet_2x.png");
      }
    }

    &--70 {
      background-image: url("../img/70_tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/70_tablet_2x.png");
      }
    }

    &--350 {
      background-image: url("../img/350_tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/350_tablet_2x.png");
      }
    }

    &--5 {
      background-image: url("../img/5_tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/5_tablet_2x.png");
      }
    }
  }

  .advantage-list__item {
    width: 46.3%;
    min-height: 112px;

    &:nth-child(2n) {
      margin-left: 50px;

      & .advantage-list__number {
        width: 59px;
      }
    }
  }

  .advantage-list__text-block {
    margin-left: 29px;

    & h3 {
      font-size: 20px;
      line-height: 30px;

      margin-bottom: 2px;
    }

    &--width-left {
      width: 183px;
    }

    &--width-right {
      width: 227px;
    }
  }

  .advantage-list__central-block {
    position: relative;
    top: 0;
    left: 0;

    width: 65.19%;
    min-height: 239px;
    margin: 0 17.4%;
    margin-top: 50px;
    margin-bottom: 50px;

    transform: translateX(0);

    & h3 {
      margin-top: 30px;
    }

    & p {
      width: 39%;
    }

    & span {
      font-size: 22px;
      line-height: 33px;

      margin-top: 0;
      margin-bottom: 17px;
    }
  }

  .advantage-list__bottom-block {
    padding: 0;

    & .advantage-list__number-block {
      justify-content: flex-start;
    }

    & .advantage-list__text-block {
      justify-content: flex-start;
    }
  }
}

@media (max-width: $mobile-only) {
  .advantage-list {
    width: 100%;
  }

  .advantage-list__top-block,
  .advantage-list__bottom-block {
    flex-direction: column;

    align-items: center;
  }

  .advantage-list__item {
    flex-direction: column;

    width: 227px;
    margin-bottom: 43px;

    align-items: center;

    &:nth-child(2n) {
      margin-left: 0;
    }
  }

  .advantage-list__number-block {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 0;

    & p {
      font-size: 58px;
      line-height: 87px;

      margin-top: 15px;
      margin-bottom: -17px;
      }

      & span {
        line-height: 27px;
      }
  }

  .advantage-list__text-block {
    display: flex;
    flex-direction: column;

    margin: 0;

    align-items: center;

    & h3 {
      font-size: 20px;
      line-height: 30px;

      margin-top: 5px;
      margin-bottom: 2px;
    }

    & p {
      width: 100%;
    }
  }

  .advantage-list__central-block {
    width: 100%;
    max-width: 442px;
    margin: 0 auto;
    margin-bottom: 50px;

    & h3 {
      margin-top: 37px;
      margin-bottom: -4px;
    }

    & p {
      width: 172px;
    }

    & span {
      font-size: 22px;
      line-height: 33px;

      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}
