.coaches-block {
  position: relative;
  padding-top: 0;

  & h2 {
    margin: 0;
    margin-bottom: 62px;
    color: $black;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }
}

.coaches-block__button-wrapper {
  position: relative;
}

.coaches-block__prev,
.coaches-block__next {
  border: 1px solid transparent;
  top: 149px;
  outline: none;

  &::after {
    position: absolute;
    content: "";
    width: 23px;
    height: 2px;
    background-color: $arrow-grey;
  }

  &::before {
    position: absolute;
    content: "";
    top: 35px;
    width: 23px;
    height: 2px;
    background-color: $arrow-grey;
  }
}

.coaches-block__prev {
  left: -65px;

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}

.coaches-block__next {
  right: -65px;

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

@media (max-width: $tablet-only) {
  .coaches-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      margin-bottom: 50px;
    }
  }

  .coaches-block__prev {
    left: -350px;
  }

  .coaches-block__next {
    right: -350px;
  }
}

@media (max-width: $mobile-only) {
  .coaches-block {
    & h2 {
      font-size: 32px;
      line-height: 32px;
    }
  }


  .coaches-block__prev {
    left: -165px;
    top: 139px;
  }

  .coaches-block__next {
    right: -165px;
    top: 139px;
  }
}
