.contact-list {
  font-family: $side-text;

  display: flex;
  flex-direction: column;

  width: 230px;

  list-style: none;

  &--border {
    border-right: 1px solid $contacts-block-top-border;
  }

  &--alignment {
    align-items: center;

    & li {
      width: 110px;
    }
  }

  & h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    margin: 0;
    margin-bottom: 5px;
  }

  & p {
    font-size: 14px;
    line-height: 21px;
  }
}

.contact-list__item {
  margin-bottom: 10px;

  &:last-child {
    margin: 0;
  }
}

@media (max-width: $tablet-only) {
  .contact-list {
    &--alignment {
      align-items: center;
    }
  }
}

@media (max-width: $mobile-only) {
  .contact-list {
    margin-bottom: 20px;

    &--border {
      border: none;
    }

    &--alignment {
      align-items: flex-start;
    }
  }

  .contact-list__item {
    margin-bottom: 20px;
  }
}
