.day-list {
  display: flex;

  margin-bottom: 8px;

  list-style: none;

  color: $schedule-side-text-color;
}

.day-list__item {
  display: flex;

  box-sizing: border-box;
  width: 148px;
  min-height: 66px;
  margin-right: 8px;

  transition-duration: 0.3s;

  border: 2px solid $promo-text-color;

  align-items: center;
  justify-content: center;

  &:last-child {
    margin: 0;
  }

  &--active {
    color: $white;
    border-color: transparent;
    background-color: $background-red;
  }
}

@media (max-width: $tablet-only) {
  .day-list__item {
    width: 146px;
    min-height: 65px;

    &--tablet {
      display: none;
    }
  }
}
