.drop-down {
  appearance: none;
  outline: none;
  width: 100%;

  font-size: 16px;
  line-height: 18px;
  color: $schedule-side-text-color;
}

.drop-down__item {
  display: none;
  min-height: 60px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid $promo-text-color;

  align-items: center;
  justify-content: center;

  &--border {
    border-bottom: none;
    min-height: 57.5px;

    &:last-child {
      border-bottom: 2px solid $promo-text-color;
    }
  }

  &--active {
    display: flex;
  }

  &--active-cell {
    color: $white;
    border-color: transparent;
    background-color: $background-red;
  }
}
