.drop-down {
  font-size: 16px;
  line-height: 18px;

  width: 100%;

  color: $schedule-side-text-color;
  outline: none;

  appearance: none;
}

.drop-down__item {
  display: none;

  box-sizing: border-box;
  min-height: 60px;

  transition-duration: 0.3s;

  border: 2px solid $promo-text-color;
  outline: none;

  align-items: center;
  justify-content: center;

  &--border {
    min-height: 57.5px;

    border-bottom: none;

    &:last-child {
      border-bottom: 2px solid $promo-text-color;
    }
  }

  &--active {
    display: flex;
  }

  &--active-cell {
    color: $white;
    border-color: transparent;
    background-color: $background-red;
  }
}
