.form-block__list {
  font-family: $side-text;
  font-size: 14px;
  line-height: 16px;

  display: flex;

  margin-bottom: 30px;

  list-style: none;

  justify-content: space-between;

  & label {
    display: none;
  }

  & input {
    font-size: 14px;
    line-height: 16px;

    width: 190px;
    height: 28px;

    cursor: pointer;
    transition-duration: 0.3s;

    border: none;
    border-bottom: 1px solid $contacts-block-top-border;
    outline: none;
    background-color: $black;

    &::placeholder {
      color: $white;
    }

    &:hover,
    &:focus {
      background-color: lighten($black, 5%);
    }

    &:active,
    &:focus {
      transform: scale(1.05);
    }
  }
}

.form-block__button {
  font-size: 14px;
  line-height: 16px;

  width: 100%;
  padding: 14px;

  transition-duration: 0.3s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.97);
  }
}

@media (max-width: $tablet-only) {
  .form-block__list {
    & input {
      width: 206px;
    }
  }
}
