
.body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $font-primary;
}

.body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
