img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $main-background;
}

.body-container {
  display: flex;
  justify-content: center;
}
