.landing-block {
  font-family: $font-primary;

  display: flex;

  width: 100%;
  margin-top: -5px;

  color: $white;
}

.landing-block_text-block {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 34%;

  align-items: flex-end;

  & p {
    font-size: 49px;
    line-height: 49px;

    margin: 0;
    margin-top: 118px;
    margin-bottom: 7px;

    letter-spacing: 0.03em;
  }

  & h1 {
    font-size: 109px;
    font-weight: 700;
    line-height: 109px;

    width: 298px;
    margin: 0;
    margin-bottom: 61px;

    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.landing-block__image-container {
  width: 500px;
  height: 556px;
  margin-left: 64px;

  background-color: $main-background;
  background-image: url("../img/main_trainer.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main_trainer_2x.jpg");
  }
}

.landing-block__image {
  width: 500px;
  height: 556px;
}

.landing-block__types-list {
  position: absolute;
  top: 305px;
  right: 264px;

  width: 114px;
}

.landing-block__button {
  font-size: 12px;
  line-height: 14px;

  width: 184px;
  min-height: 14px;

  cursor: pointer;
  letter-spacing: 0.05em;

  outline: none;

  transition-duration: 0.2s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.landing-block__social-list {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
  margin-left: auto;

  justify-content: flex-end;
}

@media (max-width: $tablet-only) {
  .landing-block_text-block {
    position: relative;

    width: 48%;

    & p {
      font-size: 34px;
      line-height: 34px;

      margin-top: 53px;
      margin-bottom: 3px;
    }

    & h1 {
      font-size: 86px;
      line-height: 86px;

      width: 235px;
      margin-bottom: 45px;

      letter-spacing: 0.03em;
    }
  }

  .landing-block__image-container {
    width: 324px;
    height: 390px;
    margin-left: 30px;

    background-image: url("../img/main_trainer_tablet.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/main_trainer_tablet_2x.png");
    }
  }

  .landing-block__image {
    width: 324px;
    height: 390px;
  }

  .landing-block__types-list {
    top: 186px;
    right: 212px;
  }

  .landing-block__button {
    width: 138px;
  }

  .landing-block__social-list {
    display: none;
  }
}

@media (max-width: $mobile-only) {
  .landing-block {
    padding-top: 15px;
  }

  .landing-block_text-block {
    position: relative;

    width: 290px;

    margin: 0 auto;

    & p {
      font-size: 28px;
      line-height: 28px;

      margin-top: 63px;
      margin-bottom: 7px;
    }

    & h1 {
      font-size: 78px;
      line-height: 78px;

      width: 100%;
      margin-bottom: 47px;
    }
  }

  .landing-block__image-container {
    display: none;
  }

  .landing-block__types-list {
    top: 184px;
    right: 178px;
  }

  .landing-block__button {
    width: 248px;
    min-height: 15px;
    padding: 17px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .landing-block__social-list {
    display: none;
  }
}
