.landing-block {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 658px;
  font-family: $font-primary;
  background-color: $background-color;
  background-image: url("../img/landing-background.jpg");
  background-size: cover;
  margin: 0 7.5%;
  padding-top: 48px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/landing-background_2x.jpg");
  }

  background-repeat: no-repeat;
  color: $white;
}

.landing-block__wrapper {
  display: flex;
  max-width: 1366px;
}

.landing-block_text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 36.5%;
}

.landing-block__city {
  margin: 0;
  margin-top: 118px;
  margin-bottom: 7px;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
}

.landing-block__title {
  margin: 0;
  text-transform: uppercase;
  text-align: right;
  font-size: 109px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 109px;
  width: 298px;
  margin-bottom: 61px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.landing-block__image-container {
  margin-left: 64px;
  width: 500px;
  height: 556px;
}

.landing-block__image {
  width: 500px;
  height: 556px;
}

.landing-block__types-list {
  position: absolute;
  top: 305px;
  right: 252px;
}

.landing-block__button {
  width: 232px;
  min-height: 60px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
}

.landing-block__social-list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 103px;
  margin-top: auto;
  margin-bottom: 21px;
}

@media (max-width: $tablet-only) {
  .landing-block {
    width: $tablet-width;
    min-height: 554px;
    padding-top: 82px;
  }

  .landing-block_text-block {
    position: relative;
    width: 48%;
  }

  .landing-block__city {
    margin-top: 53px;
    margin-bottom: 3px;
    font-size: 34px;
    line-height: 34px;
  }

  .landing-block__title {
    font-size: 86px;
    line-height: 86px;
    letter-spacing: 0.03em;
    width: 235px;
    margin-bottom: 45px;
  }

  .landing-block__image-container {
    margin-left: 30px;
    width: 324px;
    height: 390px;
  }

  .landing-block__image {
    width: 324px;
    height: 390px;
  }

  .landing-block__types-list {
    top: 186px;
    right: 197px;
  }

  .landing-block__button {
    width: 185px;
  }

  .landing-block__social-list {
    display: none;
  }
}

@media (max-width: $mobile-only) {
  .landing-block {
    width: $mobile-width;
    min-height: 491px;
  }

  .landing-block_text-block {
    padding: 0 15px;
    position: relative;
    width: 100%;
  }

  .landing-block__city {
    margin-top: 63px;
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 28px;
  }

  .landing-block__title {
    font-size: 78px;
    line-height: 78px;
    width: 213px;
    margin-bottom: 50px;
  }

  .landing-block__image-container {
    display: none;
  }

  .landing-block__types-list {
    top: 183px;
    right: 179px;
  }

  .landing-block__button {
    width: 100%;
  }

  .landing-block__social-list {
    display: none;
  }
}
