.logo {
  width: 89px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  outline: none;
}

@media (max-width: $tablet-only) {
  .logo {
    width: 82px;

    & svg {
      width: 82px;
      height: 17px;
    }
  }
}

@media (max-width: $mobile-only) {
  .logo {
    width: 68px;

    & svg {
      width: 68px;
      height: 15px;
    }
  }
}
