.main-header {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3px;
  width: 100%;
  max-width: 1160px;
  color: $white;
  font-family: $font-primary;
}

.main-header__logo {
  width: 89px;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;

  letter-spacing: 0.02em;
}

.main-header__phone {
  padding-top: 26px;
  width: 154px;
  font-size: 26px;
  line-height: 26px;
  margin-left: auto;
  letter-spacing: 0.03em;
}


@media (max-width: $tablet-only) {
  .main-header {
    padding-top: 14px;
    min-height: 68px;
    max-width: 678px;
  }

  .main-header__logo {
    width: 82px;
    font-size: 24px;
    line-height: 24px;
  }

  .main-header__phone {
    padding-top: 24px;
    width: 138px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}

@media (max-width: $mobile-only) {
  .main-header {
    margin-top: -2px;
    padding-top: 0px;
    min-height: 52px;
    max-width: 290px;
  }

  .main-header__logo {
    width: 68px;
    font-size: 20px;
    line-height: 20px;
  }

  .main-header__phone {
    padding-top: 20px;
    width: 115px;
    font-size: 20px;
    line-height: 20px;
  }
}
