.main-footer {
  background-color: $footer-background;
  width: 100%;
}

.main-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 108px;
  height: 108px;
}

.main-footer__logo {
  height: 20px;
}

@media (max-width: $tablet-only) {
  .main-footer__container {
    min-height: 114px;
    height: 114px;
    justify-content: space-between;
  }

  .main-footer__logo {
    height: 18px;
  }
}

@media (max-width: $mobile-only) {
  .main-footer__container {
    position: relative;
    min-height: 260px;
    height: 260px;
    max-width: 472px;
    padding-top: 45px;
    padding-bottom: 50px;
    align-items: flex-start;
    flex-direction: column;
  }

  .main-footer__logo {
    position: absolute;
    left: 15px;
    top: 50px;
    height: 15px;
  }
}
