.passes-block
{
    display: flex;
    flex-direction: column;

    background-color: $passes-background;

    align-items: center;

    & h2
    {
        font-family: $font-primary;
        font-size: 49px;
        line-height: 49px;
        color: $black;

        margin: 0;
        margin-bottom: 53px;

        letter-spacing: .03em;
        text-transform: uppercase;
    }
}
