.passtype-list {
  font-family: $side-text;

  position: relative;
  z-index: 1;

  display: none;

  width: 100%;
  min-width: 1160px;
  margin-top: 39px;

  list-style: none;

  color: $black;

  flex-wrap: wrap;

  &::after {
    position: absolute;
    right: -286px;
    bottom: -232px;

    width: 470px;
    height: 494px;

    content: "";

    background-image: url("../img/weights.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/weights_2x.png");
    }
  }

  &--active {
    display: flex;

    animation-name: unfade;
    animation-duration: 1.5s;
  }
}

.passtype-list__item {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding-top: 55px;

  border: 8px solid transparent;
  background-color: $white;

  align-items: center;


  &:nth-child(3n) {
    margin-right: 0;
  }

  & h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 29px;

    margin: 0;
    margin-bottom: 9px;
  }

  & > p {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 66px;
  }

  &::before {
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -8px;

    width: 100%;
    height: 100%;

    content: "";
    transition-duration: 0.4s;

    opacity: 0;
    border: 8px solid $background-color;
    border-image-source: $button-gradient;
    border-image-slice: 8;
    border-image-repeat: round;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
    outline: none;
  }
}

.passtype-list__price {
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;

  position: relative;
  z-index: 0;

  width: 166px;
  min-height: 42px;
  margin-bottom: 34px;

  color: $price-color;

  & span {
    font-weight: 400;

    margin-left: 11px;

    color: $black;
  }
}

.passtype-list__price-shadow {
  position: absolute;
  z-index: -1;
  top: 32%;
  left: 0;

  display: flex;

  width: 100%;

  justify-content: center;

  & span {
    font-size: 100px;
    font-weight: 700;
    line-height: 150px;

    margin: 0;

    color: $price-shadow-color;
  }
}

.passtype-list__button {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;

  width: 166px;
  min-height: 20px;
  margin-bottom: 59px;
  padding-top: 22px;

  cursor: pointer;
  transition-duration: 0.4s;

  color: $black;
  border: 2px solid $black;

  &:hover,
  &:focus {
    color: $white;
    border: 2px solid $white;
    outline: none;
    background: $button-gradient;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-only) {
  .passtype-list {
    flex-direction: column;

    width: 768px;
    min-width: auto;
    margin-top: 44px;

    align-items: center;

    &::after {
      right: -77px;
      bottom: -183px;

      width: 423px;
      height: 444px;

      background-image: url("../img/weights_tablet.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/weights_tablet_2x.png");
      }
    }
  }

  .passtype-list__item {
    width: 442px;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 56px;

    &:nth-last-child {
      margin-bottom: 0;
    }

    & h3 {
      margin-bottom: 9px;
    }

    & > p {
      margin-bottom: 66px;
    }
  }

  .passtype-list__price-shadow {
    top: 30%;
  }
}

@media (max-width: $mobile-only) {
  .passtype-list {
    width: 100%;
    margin-top: 35px;

    &::after {
      background-image: none;
    }
  }

  .passtype-list__price {
    font-size: 48px;
    line-height: 72px;

    max-width: 132px;
    margin-bottom: 30px;

    & > span {
      margin-left: 10px;
    }
  }

  .passtype-list__price-shadow {
    top: 30%;

    & span {
      font-size: 80px;
      line-height: 120px;
    }
  }

  .passtype-list__item {
    width: 100%;
    max-width: 442px;
    margin-bottom: 35px;
    padding-top: 43px;

    & h3 {
      font-size: 22px;
      line-height: 24px;

      margin-bottom: 10px;
    }

    & > p {
      margin-bottom: 54px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .passtype-list__button {
    margin-bottom: 45px;
  }
}
