.passes-block
{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: 115px;

    background-color: $passes-background;

    align-items: center;
}

.passes-block__container
{
    display: flex;
    flex-direction: column;

    align-items: center;


    & h2
    {
        font-family: $font-primary;
        font-size: 49px;
        line-height: 49px;

        margin: 0;
        margin-bottom: 38px;

        letter-spacing: .03em;
        text-transform: uppercase;

        color: $black;
    }
}
