.passes-block
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: 115px;

    background-color: $passes-background;

    align-items: center;

    &::after
    {
        position: absolute;
        right: -34px;
        bottom: -70px;

        width: 321px;
        height: 414px;

        content: '';

        background-image: url('../img/weights.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 147%;


        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx)
        {
            background-image: url('../img/weights_2x.png');
        }
    }
}

.passes-block__container
{
    z-index: 1;

    display: flex;
    flex-direction: column;

    align-items: center;


    & h2
    {
        font-family: $font-primary;
        font-size: 49px;
        line-height: 49px;

        margin: 0;
        margin-bottom: 38px;

        letter-spacing: .03em;
        text-transform: uppercase;

        color: $black;
    }
}


@media (max-width: $tablet-only)
{
    .passes-block
    {
        padding-top: 102px;

        &::after
        {
            right: 25px;
            bottom: -55px;

            background-image: url('../img/weights_mobile.png');

            @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx)
            {
                background-image: url('../img/weights_mobile_2x.png');
            }
        }
    }

    .passes-block__container
    {
        & h2
        {
            font-size: 42px;
            line-height: 42px;

            margin: 0;
            margin-bottom: 32px;
        }
    }
}

@media (max-width: $mobile-only)
{
    .passes-block
    {
        padding-top: 66px;
    }

    .passes-block__container
    {
        & h2
        {
            font-size: 32px;
            line-height: 32px;

            margin: 0;
            margin-bottom: 23px;
        }
    }
}
