.promo-block {
  display: flex;
  flex-direction: column;

  align-items: center;

  & h2 {
    font-size: 49px;
    line-height: 49px;

    margin: 0;
    margin-bottom: 62px;

    letter-spacing: 0.03em;

    color: $black;
  }
}

.promo-block__wrapper {
  font-family: $side-text;

  display: flex;

  width: 100%;

  justify-content: space-between;
}

.promo-block__image-block {
  display: flex;

  width: 560px;
  min-height: 462px;
  margin-right: 20px;
}

.promo-block__text {
  display: flex;
  flex-direction: column;

  width: 34%;
  padding: 0 45px;
  padding-top: 40px;
  padding-bottom: 50px;

  color: $white;
  background-color: $background-red;

  & h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;

    margin: 0;
  }

  & span {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
  }

  & p {
    font-size: 18px;
    line-height: 25px;

    margin-top: 35px;
    margin-bottom: 30px;
  }
}

.promo-block__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;

  width: 79px;
  height: auto;
  margin-top: auto;

  transition-duration: 0.3s;
  text-transform: uppercase;

  border-bottom: 1px solid $white;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
  }
}

.promo-block__image {
  width: 50%;

  background-color: $background-blue;
  background-image: url("../img/actions_girl.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/actions_girl_2x.jpg");
  }
}

.promo-block__text-block {
  display: flex;
  flex-direction: column;

  width: 560px;

  justify-content: space-between;
}

@media (max-width: $tablet-only) {
  .promo-block {
    & h2 {
      font-size: 42px;
      line-height: 42px;

      margin-bottom: 50px;
    }
  }

  .promo-block__wrapper {
    flex-direction: column;

    max-width: 850px;

    align-items: center;
  }

  .promo-block__image-block {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }

  .promo-block__text {
    width: 30%;
  }

  .promo-block__image {
    width: 63%;

    background-image: url("../img/actions_girl_tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/actions_girl_tablet_2x.jpg");
    }
  }

  .promo-block__text-block {
    flex-direction: row;

    width: 100%;

    flex-wrap: wrap;
  }
}

@media (max-width: $mobile-only) {
  .promo-block {
    padding-top: 68px;
    padding-bottom: 66px;

    & h2 {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 45px;
    }
  }

  .promo-block__wrapper {
    max-width: 442px;
  }

  .promo-block__image-block {
    flex-direction: column;
  }

  .promo-block__text {
    width: 100%;
    min-height: 200px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 45px;

    text-align: center;

    align-items: center;

    & p {
      width: 189px;
      margin-top: 15px;
    }
  }

  .promo-block__image {
    width: 100%;
    min-height: 299px;
  }

  .promo-block__text-block {
    flex-direction: column;

    flex-wrap: nowrap;
  }
}
