.promo-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    margin: 0;
    margin-bottom: 62px;
    color: $black;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }
}

.promo-block_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: $side-text;
}

.promo-block__image-block {
  display: flex;
  width: 560px;
  min-height: 462px;
  margin-right: 20px;
}

.promo-block__text {
  width: 34%;
  background-color: $background-red;
  color: $white;
  padding: 0 45px;
  padding-top: 45px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;

  & h3 {
    font-size: 28px;
    line-height: 44px;
    font-weight: 700;
    margin: 0;
  }

  & span {
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
  }

  & p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 35px;
  }
}

.promo-block__button {
  width: 79px;
  height: auto;
  border-bottom: 1px solid $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  margin-top: auto;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.3;
  }
}

.promo-block__image {
  width: 50%;
  background-color: $background-blue;
  background-image: url("../img/actions_girl.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/actions_girl_2x.jpg");
  }
}

.promo-block__text-block {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: $tablet-only) {
  .promo-block {
    & h2 {
      margin-bottom: 50px;
      font-size: 42px;
      line-height: 42px;
    }
  }

  .promo-block_wrapper {
    flex-direction: column;
    align-items: center;
    max-width: 850px;
  }

  .promo-block__image-block {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }

  .promo-block__text {
    width: 30%;
  }

  .promo-block__image {
    width: 63%;
    background-image: url("../img/actions_girl_tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/actions_girl_tablet_2x.jpg");
    }
  }

  .promo-block__text-block {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
