.reviews-block {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: 0;

  align-items: center;

  & h2 {
    font-size: 49px;
    line-height: 49px;

    margin: 0;
    margin-bottom: 19px;

    letter-spacing: 0.03em;

    color: $black;
  }
}

.reviews-block__button-wrapper {
  position: relative;
  z-index: 1;

  width: 560px;
  height: 0;
}

.reviews-block__prev,
.reviews-block__next {
  position: absolute;
  top: 126px;

  cursor: pointer;
  transition-duration: 0.3s;

  border: 1px solid transparent;
  outline: none;

  &::after {
    position: absolute;

    width: 23px;
    height: 1px;

    content: "";

    background-color: $arrow-grey;
  }

  &::before {
    position: absolute;
    top: 36px;

    width: 23px;
    height: 1px;

    content: "";

    background-color: $arrow-grey;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1);

    opacity: 0.4;
  }
}

.reviews-block__prev {
  left: -90px;

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}

.reviews-block__next {
  right: -65px;

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.reviews-block__slider {
  position: relative;
  z-index: 0;

  width: 560px;
  min-height: 242px;
  padding: 40px;
}

.reviews-block__slide {
  display: flex;

  min-height: 128px;
  padding-top: 57px;
  padding-bottom: 57px;

  color: $white;
  background-color: $advantages-block-background;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);

  & img {
    position: absolute;
    top: 62px;
    left: 62px;

    width: 80px;
    height: 80px;
  }
}

.reviews-block__text {
  font-family: $side-text;

  margin-left: 170px;
  padding-right: 62px;

  & h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;

    margin: 0;
    margin-bottom: 15px;
  }

  & p {
    font-size: 16px;
    line-height: 22px;
  }
}


@media (max-width: $tablet-only) {
  .reviews-block__slider {
    width: 566px;
  }

  .reviews-block__slide {
    & img {
      left: 65px;
    }
  }
}


@media (max-width: $mobile-only) {
  .reviews-block__slider {
    width: 226px;
    min-height: 335px;
  }

  .reviews-block__slide {
    min-height: 274px;
    padding-top: 50px;
    padding-bottom: 11px;

    & img {
      top: 40px;
      left: 41px;

      width: 68px;
      height: 68px;
    }
  }

  .reviews-block__text {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0 25px;

    align-items: center;

    & h3 {
      width: 85px;
      margin-bottom: 34px;

      word-break: break-word;

      align-self: flex-end;
    }

    & p {
      width: 176px;

      text-align: center;
    }
  }

  .reviews-block__prev,
  .reviews-block__next {
    top: 175px;
  }

  .reviews-block__prev {
    left: 110px;
  }

  .reviews-block__next {
    right: 135px;
  }
}
