.social-list
{
    list-style: none;

    & li
    {
        font-family: $side-text;
        font-size: 12px;
        line-height: 30px;

        width: 30px;
        height: 30px;
        margin-right: -8px;
        margin-bottom: 3px;

        cursor: pointer;

        outline: none;

        &:hover,
        &:focus
        {
            transition-duration: .2s;

            opacity: .7;
        }

        &:active
        {
            transition-duration: .2s;

            opacity: .3;
        }
    }
}
