img
{
    width: 100%;
    height: auto;
}

a
{
    display: flex;

    width: 100%;
    height: 100%;

    text-decoration: none;

    color: inherit;

    justify-content: center;
    align-items: center;
}
body
{
    font-family: $font-primary;
}

.body-container
{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.container
{
    box-sizing: border-box;
    width: 100%;
    max-width: $desktop-width;
    margin: 0 auto;
    padding-right: 7.54%;
    padding-left: 7.54%;

    &--mobile
    {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: $tablet-only)
{
    .container
    {
        padding-right: 5.85%;
        padding-left: 5.85%;
    }
}

@media (max-width: $mobile-only)
{
    .container
    {
        padding-right: 4.68%;
        padding-left: 4.68%;
    }
}
