// widths
$desktop-width: 1366px;
$tablet-only: 1199px;
$mobile-only: 767px;


//colors
$white: #ffffff;
$black: #102654;
$grey: rgba(16, 38, 84, 0.5);
$slide-grey: #b6bdcc;
$arrow-grey: #afafaf;
$red: #d10a42;
$background-red: #ed0233;
$background-blue: #000145;
$slider-background: rgba(16, 38, 84, 0.89);
$price-color: #103aae;
$price-shadow-color: #e8e8e8;
$main-background: #b8b8b8;
$background-color: #88103f;
$passes-background: #f8f9fc;
$gym-video-background: rgba(20, 54, 122, 0.5);
$gradient: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
$button-gradient: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
$border-color: rgba(120, 120, 120, 0.2);
$advantages-block-border: rgba(209, 10, 66, 0.2);
$advantages-block-background: #1c3374;

//font-family
$font-primary: "BebasNeue", "Arial", sans-serif;
$side-text: "Roboto Condensed", "Arial", sans-serif;

//retina stats
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//animation
@keyframes shadow {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 0 0 15px 2px $black;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes unfade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
