// widths
$desktop-width: 1366px;
$tablet-only: 1199px;
$mobile-only: 767px;


//colors
$white: #ffffff;
$black: #102654;
$grey: rgba(16, 38, 84, 0.5);
$red: #d10a42;
$price-color: #103AAE;
$price-shadow-color: #E8E8E8;
$main-background: #B8B8B8;
$background-color: #88103f;
$passes-background: #F8F9FC;
$gradient: linear-gradient(44.89deg, #003D85 25.38%, #B80027 74.89%);
$button-gradient: linear-gradient(111.72deg, #ED0233 17.6%, #003EB7 95.31%);
$border-color: rgba(120, 120, 120, 0.2);

//font-family
$font-primary: "BebasNeue", "Arial", sans-serif;
$side-text: "Roboto Condensed", "Arial", sans-serif;

//retina stats
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
